<div class="footer-brand-links-containter">
    <div class="footer-brand">Airen Analytics</div>
    <div class="footer-links-container">
        <ul class="footer-links">
            <li class="footer-link-title">Links</li>
            <li></li>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../pages/privacy.html">Privacy Policy</a></li>
            <li><a href="../pages/services.html">Services</a></li>
            <li><a href="../pages/terms.html">Terms & Conditions</a></li>
            <li><a href="../pages/use-cases.html">Use Cases</a></li>
            <!-- <li><a href="#">Cookie Policy</a></li> -->
            <li></li>
            <li><a href="../pages/mission.html">Mission</a></li>
            <li></li>
            <li><a href="../pages/about.html">About</a></li>
            <li></li>
            <li><a href="../pages/contact-us.html">Contact</a></li>
            
        </ul>
    </div>
</div>
<div class="footer-horizontal-line">
    <hr>
</div>
<div class="footer-copyright">
    &copy; 2024 Airen Analytics LLC. <span class="asset-attribution"><a href="https://storyset.com", target="_blank">Awesome website illustrations by Storyset</a></span>
</div>