    <!-- Nav bar -->
    <nav class="navbar sticky-top navbar-expand-sm border-bottom">
        <div class="container-fluid">
            <a class="navbar-brand px-md-5 px-sm-0" href="../index.html">Airen Analytics</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav ms-auto me-4">
                <a class="nav-link me-3" href="./services.html">Services</a>
                <a class="nav-link me-3" href="./use-cases.html">Use Cases</a>
                <a class="nav-link me-3" href="./mission.html">Mission</a>
                <a class="nav-link me-3" href="./about.html">About</a>
                <a class="nav-link me-3" href="./contact-us.html">Contact</a>
                <a class="nav-link cta_book_button pe-sm-3 ps-sm-3" href="./book-session.html">Book Call</a>
            </div>
        </div>
    </nav>